	<div class="container-fluid" style="padding:0px;">
		<div>
	        <div class="page-header page-header-block hidden-xs hidden-sm">
	            <div class="page-header-section">
	                <h4 class="title semibold">Bienvenido "vive el futbol"</h4>
	            </div>
	            <div class="page-header-section">
	                <div class="toolbar">
	                    <ol class="breadcrumb breadcrumb-transparent nm">
	                        <li><a href="#">Home</a></li>
	                        <li class="active">Dashboard</li>
	                    </ol>
	                </div>
	            </div>
	        </div>
	        
	        <!-- dashboard-->
	        <div class="row dashboard-container" >
	        	<div class="dashboard-item col-xs-6 col-md-2" ng-click="ref( 'players' )">
	        		<img data-toggle="unveil" ng-src="../image/icons/jugador.png" 
	                       	 alt="Cover">
	                <div class="text-item">Jugadores</div>
	        	</div>
	        	<div class="dashboard-item col-xs-6 col-md-2" ng-click="ref( 'teams' )">
	        		<img data-toggle="unveil" ng-src="../image/icons/equipo.png" 
	                       	 alt="Cover" >
	                <div class="text-item">Equipos</div>       
	        	</div>
	        	<div class="dashboard-item col-xs-6 col-md-2" ng-click="ref( 'matches' )" >
	        		<img data-toggle="unveil" ng-src="../image/icons/pelota.png" 
	                       	 alt="Cover">
	                <div class="text-item">Partidos</div>
	        	</div>
	        	<div class="dashboard-item col-xs-6 col-md-2" ng-click="ref( 'canchas' )" >
	        		<img data-toggle="unveil" ng-src="../image/icons/canchas.png" 
	                       	 alt="Cover" >
	                <div class="text-item">Canchas</div>
	        	</div>
	        </div>
		</div>  
	
	</div>
