<section id="main" role="main" >
	<div class="container-fluid">
        <div class="page-header page-header-block">
            <div class="page-header-section hidden-xs hidden-sm">
                <h4 class="title semibold ">Equipos</h4>
            </div>
            <div class="page-header-section">
            		
            		<div class="row hidden-md" >
           			<div class="col-md-3 col-xs-3 pl15" >
             			<a href="#/" class="btn btn-primary btn-outline mb5">Volver</a>
             			<!-- <a href="#/" style="font-size: 20px;color: gray;" ><i class="ico-arrow-left2" ></i></a>-->
             		</div>
             		<div class="col-md-6 col-xs-6 text-center" >
             			<h4 class="title semibold">Equipos</h4>
             		</div>
             		<div class="col-md-3 col-xs-3 text-right" >
             			<a href="#/team/create" class="btn btn-primary btn-outline mb5">Nuevo</a>
             			<!-- <a href="#/team/create"  style="font-size: 20px;color: gray;"><i class="ico-plus" ></i></a>-->
             		</div>
                 </div>
            
            
                <div class="toolbar hidden-xs hidden-sm">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="panel-toolbar">
                            <div class="input-group">
                                <div class="has-icon">
                                    <input type="text" ng-model="q" placeholder="buscar" class="form-control" />
                                    <i class="ico-search form-control-icon"></i>
                                </div>
                                <div class="input-group-btn">
                                	<a href="#/team/create" class="btn btn-default">Nuevo</a>
                                    	                                        
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" >
        
        	
        
        	<div class="col-xs-6 col-md-2" ng-repeat="e in teams | filter:q as results">
        		<div class="thumbnail thumbnail-album animation animating  fadeInLeft" ng-click="ref( '/team/'+ e.oid );">
                   <div class="media">
                       <div class="indicator"><span class="spinner"></span></div>
                      	<div class="overlay hidden-xs hidden-sm">
                           <div class="toolbar">
                               <a href="#/team/{{e.oid}}" class="btn btn-default" title="upload to collection"><i class="ico-eye"></i></a>
                               <a href="#/team/edit/{{e.oid}}" class="btn btn-success" title="watch collection"><i class="ico-edit"></i></a>
                               <a href="javascript:void(0);" class="btn btn-default" ng-click="eliminar(e)"><i class="ico-remove4"></i></a>
                           </div>
                       </div>
                       <img data-toggle="unveil" ng-src="../image/icons/teams-default4.png" 
                       	 alt="Cover" width="100%" class="unveiled">
                   </div>
                   <div class="caption">
                       <h5 class="semibold mt0 mb5">{{e.name}}</h5>
                       <p class="text-muted mb5 ellipsis">
                       	<b>{{msgI18n(e.category)}}</b> | {{msgI18n(e.gender)}}  
                       </p>
                   </div>
               </div>
           </div>
           
			<div class="col-md-12" ng-if="!flagLoading && teams.length == 0">
      			<strong ng-show="!flagErrorLoading">No existen equipos, presione el boton "nuevo" para agregar un equipo...</strong>
			</div>
			
			
			<div class="col-md-12 mb20 mt20" ng-show="flagErrorLoading" style="text-align: center;">
      			<strong style="color:gray;">Ocurrio un error al cargar la información, intente más tarde</strong>
      			<div><i style="font-size:100px;color: #EBEBEB;" class=" ico-heart-broken mb20 mt20"  ></i></div>
			</div>
			
        </div>
	</div>
</section>